img.resultImage {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#submitSearch {
    width: 200px;
}

#carouselExampleIndicators {
    position: absolute;
    z-index: -1;
}

.jumbotron {
    opacity: 0.8;
    height: 225px;
}

/* #moveDown {
   margin-top: 50px;
} */

#weather {
    height : 400px;
    width : 500px;
    background-image: url(../images/weather-animation.jpg);
    z-index: -1;
}

#noSearchResults {
    margin-top: 15px;
    color: red; 
    font-weight: bold;
    font-size: 20px;
}


p.small {
    line-height: 35%;
    text-align: center;
    padding: 0px;
    margin-top: -5px;

}

.jumbotronContainer { 
    margin-top: 10px;
}

footer{
    margin-top: 100px;
}

#returnedData0, #returnedData1, #returnedData2, #returnedData3, #returnedData4, #returnedData5, #returnedData6, #returnedData7, #returnedData8, #returnedData9 {
    border: 1px solid black;
    margin: 5px 5px 0 0;
}

@media screen and (max-width: 540px) {
#weather {
    width: 100%;
    border-top: 30px;
}
#map {
    width: 100%;
    border-top: 35px;
}
}

@media screen and (max-width: 995px) {
    #submitSearch {
        width: 100px;
    }
}

input.is-invalid {
    color: red;
}

